workflows/expense-validation-approval .json
{
  "name": "Gamdom-Expense Validation & Approval Request",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1WusFe_JI_o19WRF7PFx3QtSIpFa-p4I-kams5BA9PC8",
          "mode": "list",
          "cachedResultName": "Expense_Requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WusFe_JI_o19WRF7PFx3QtSIpFa-p4I-kams5BA9PC8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1055907095,
          "mode": "list",
          "cachedResultName": "expense_requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WusFe_JI_o19WRF7PFx3QtSIpFa-p4I-kams5BA9PC8/edit#gid=1055907095"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -192
      ],
      "id": "2dbe9b3b-cc4f-4439-95da-cb1e14d961f6",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Hud9bQGFtqBTwk53",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d6f9f60e-4a5d-4e19-8c98-84cb9eb54573",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b0f2f9c5-43bb-432a-b8b0-c7018c17a8b8",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "1ea8bed7-cca7-4f14-9990-dbd2625c3931",
              "leftValue": "={{ $json.Amount }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "a04b2f0c-5156-43b2-8e81-8c113280a455",
              "leftValue": "={{ $json.Transaction_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -192
      ],
      "id": "bc4943a9-d19c-421e-8181-4a13f97c6818",
      "name": "Check Required Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09Q0588Q8P",
          "mode": "list",
          "cachedResultName": "expense-automation"
        },
        "messageType": "block",
        "blocksUi": "={\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"❌ Validation Failed - Required Fields Missing\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Transaction ID:*\\n{{ $json.Transaction_ID || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Submitted By:*\\n{{ $json.Name || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Email:*\\n{{ $json.Email || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Amount:*\\n{{ $json.Amount || 'N/A' }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"⚠️ *Error:* {{ $json.error_message }}\\n\\n*Action Required:* Please correct the data in Google Sheets.\"\n      }\n    }\n  ]\n}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        480,
        48
      ],
      "id": "0a9de2cd-aa26-4438-a17a-8e55c3de88d8",
      "name": "Send Validation Error",
      "webhookId": "d0153d59-31e2-4d1b-a148-2ebe9abf6107",
      "credentials": {
        "slackOAuth2Api": {
          "id": "uGBCPLa4eqIkcXCN",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\nconst missing = [];\n\nif (!data.Name || data.Name === '') missing.push('Name');\nif (!data.Email || data.Email === '') missing.push('Email');\nif (!data.Amount || data.Amount === '') missing.push('Amount');\nif (!data.Transaction_ID || data.Transaction_ID === '') missing.push('Transaction_ID');\n\nreturn [{\n  json: {\n    ...data,\n    missing_fields: missing.join(', '),\n    error_message: `Missing required fields: ${missing.join(', ')}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        48
      ],
      "id": "a5624270-2fda-4e14-97cc-61af9b9b374f",
      "name": "Identify Missing Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c17a2d27-58de-4411-aacb-45d5e3b05bb3",
              "leftValue": "={{ $('Google Sheets Trigger').item.json.Email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9a4b5d74-2733-4429-ba91-4c353442b47b",
              "leftValue": "={{ $('Google Sheets Trigger').item.json.Email }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        -432
      ],
      "id": "3c68da1d-cd63-40d1-aab2-cfc6bc6feed1",
      "name": "Validate Email Format"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c24763d-f0a5-4706-b4b5-15307eb2361c",
              "leftValue": "={{ $('Check Required Fields').item.json.Amount }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "b9c2f191-bf76-4d94-a6e2-9059c1b2aaaa",
              "leftValue": "={{ parseFloat($json.Amount) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        -448
      ],
      "id": "befb2164-af9a-46e7-8fe1-ccdd86f18a55",
      "name": "Validate Amount Positive"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\nreturn [{\n  json: {\n    ...data,\n    error_message: `Amount must be a positive number. Received: ${data.Amount}`,\n    missing_fields: 'Amount (invalid value)'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -256
      ],
      "id": "d28ee344-9fb7-4fdd-a92c-3b1790afc4ac",
      "name": "Amount Positive Error"
    },
    {
      "parameters": {
        "sendTo": "berkaycan.ieu@gmail.com",
        "subject": "=Expense Approval Required - {{ $json.Transaction_ID }}",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n  \n  <!-- Logo Header -->\n  <div style=\"text-align: center; padding: 20px; background-color: #1a1d29;\">\n  <img src=\"https://i.imgur.com/U1Actwo.jpeg\" alt=\"Gamdom\" style=\"max-width: 250px; height: auto;\" />\n</div>\n\n  <!-- Content -->\n  <div style=\"background-color: #f8f9fa; padding: 30px; border-radius: 8px;\">\n    <h2 style=\"color: #333; margin-top: 0;\">New Expense Approval Request</h2>\n\n    <p style=\"color: #555;\">Hi Manager,</p>\n    <p style=\"color: #555;\">A new expense request requires your approval:</p>\n\n    <table style=\"border-collapse: collapse; width: 100%; margin: 20px 0; background-color: white;\">\n      <tr style=\"background-color: #00c74d;\">\n        <td colspan=\"2\" style=\"padding: 12px; color: white; font-weight: bold;\">Expense Details</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold; width: 40%;\">Employee:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.Name }}</td>\n      </tr>\n      <tr style=\"background-color: #f8f9fa;\">\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Email:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.Email }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Department:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.Department || 'N/A' }}</td>\n      </tr>\n      <tr style=\"background-color: #f8f9fa;\">\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Expense Type:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.Expense_Type || 'N/A' }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Amount:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd; color: #00c74d; font-size: 18px; font-weight: bold;\">${{ $json.Amount }}</td>\n      </tr>\n      <tr style=\"background-color: #f8f9fa;\">\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Transaction ID:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-family: monospace;\">{{ $json.Transaction_ID }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 12px; border: 1px solid #ddd; font-weight: bold;\">Description:</td>\n        <td style=\"padding: 12px; border: 1px solid #ddd;\">{{ $json.Description || 'N/A' }}</td>\n      </tr>\n    </table>\n\n    <p style=\"margin-top: 30px; color: #555; font-weight: bold;\">Please review and take action:</p>\n\n    <div style=\"text-align: center; margin: 30px 0;\">\n      <a href=\"https://berkaycann.app.n8n.cloud/webhook-test/expense-approval?action=approve&transaction_id={{ $json.Transaction_ID }}&name={{ $json.Name }}&email={{ $json.Email }}&amount={{ $json.Amount }}\" \n         style=\"background: linear-gradient(135deg, #00c74d 0%, #00a03e 100%); color: white; padding: 14px 32px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 0 8px; font-weight: bold; box-shadow: 0 4px 6px rgba(0,199,77,0.3);\">\n        ✅ APPROVE\n      </a>\n      \n      <a href=\"https://berkaycann.app.n8n.cloud/webhook-test/expense-approval?action=reject&transaction_id={{ $json.Transaction_ID }}&name={{ $json.Name }}&email={{ $json.Email }}&amount={{ $json.Amount }}\" \n         style=\"background: linear-gradient(135deg, #dc3545 0%, #c82333 100%); color: white; padding: 14px 32px; text-decoration: none; border-radius: 6px; display: inline-block; margin: 0 8px; font-weight: bold; box-shadow: 0 4px 6px rgba(220,53,69,0.3);\">\n        ❌ REJECT\n      </a>\n    </div>\n\n  </div>\n\n  <!-- Footer -->\n  <div style=\"text-align: center; padding: 20px; color: #999; font-size: 12px;\">\n    <p>This is an automated message from Gamdom Expense Management System.</p>\n    <p style=\"margin: 5px 0;\">© 2025 Gamdom. All rights reserved.</p>\n  </div>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        -464
      ],
      "id": "6a1be945-9379-43bb-96ac-e013ba87a00c",
      "name": "Send Approval Request to Manager",
      "webhookId": "1fa8f1a2-1cd0-41e6-a3b5-1b3ee0cafa4b",
      "credentials": {
        "gmailOAuth2": {
          "id": "gkwFcdT7qBnlLf1L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\n\nreturn [{\n  json: {\n    ...data,\n    error_message: `Invalid email format: ${data.Email}`,\n    missing_fields: 'Email (invalid format)'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -240
      ],
      "id": "8b434648-5d1c-4f1a-8fde-4421d369b094",
      "name": "Email Format Error"
    },
    {
      "parameters": {
        "tableId": "expense_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "transaction_id",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Transaction_ID }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Email }}"
            },
            {
              "fieldId": "amount",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Amount }}"
            },
            {
              "fieldId": "department",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Department }}"
            },
            {
              "fieldId": "expense_type",
              "fieldValue": "={{ $('Google Sheets Trigger').item.json.Expense_Type }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "approval_pending"
            },
            {
              "fieldId": "action_type",
              "fieldValue": "approval_request"
            },
            {
              "fieldId": "message",
              "fieldValue": "Validation passed. Approval email sent to manager."
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        -464
      ],
      "id": "238d948a-cf3a-4769-bd90-ce86bd31df4f",
      "name": "Log In approval",
      "credentials": {
        "supabaseApi": {
          "id": "xdUukAdZNCyzLfsN",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Check Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Required Fields": {
      "main": [
        [
          {
            "node": "Validate Email Format",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Identify Missing Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Missing Fields": {
      "main": [
        [
          {
            "node": "Send Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email Format": {
      "main": [
        [
          {
            "node": "Validate Amount Positive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Amount Positive": {
      "main": [
        [
          {
            "node": "Send Approval Request to Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Amount Positive Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amount Positive Error": {
      "main": [
        [
          {
            "node": "Send Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Request to Manager": {
      "main": [
        [
          {
            "node": "Log In approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Format Error": {
      "main": [
        [
          {
            "node": "Send Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "125ed88b-1a1c-4700-91ed-9b492eddce26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07a6767757273069f0a582916e3c57f8190196d81fe9eb37ed92ada5e69b4db8"
  },
  "id": "dkwqsK1sL134pTwg",
  "tags": []
}